{% extends "templates/common.twig" %}

{% block content %}
<div style="
    text-align: center;
    padding-top: 150px;
    font-size: 80px;
    font-weight: 700;
">
    Page not found :( <br/>
    404
</div>
{% endblock %}
