{% extends "templates/common.twig" %}

{% block content %}
<div class="container-md mt-5">
  <div class="card p-4 shadow-sm">
    <h2 class="mb-4">Добавление автомобиля</h2>
    
    <form method="POST" enctype="multipart/form-data">
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="name" class="form-label">Название</label>
          <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="col-md-4">
          <label for="short_name" class="form-label">Краткое имя (для ссылок)</label>
          <input type="text" class="form-control" name="short_name" id="short_name">
        </div>
        <div class="col-md-4">
          <label for="age" class="form-label">Тип</label>
          <select class="form-select" id="type" name="age">
{% for age in ages %}
            <option value="{{age.age}}">{{ age.translation}}</option>
{% endfor %}
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Картинка</label>
        <input class="form-control" type="file" id="formFile" name="formFile">
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Полное описание</label>
        <textarea class="form-control" id="description" rows="5" name="description"></textarea>
      </div>

      <div class="text-end">
        <button type="submit" class="btn btn-primary px-4">Добавить</button>
      </div>

      <div style="text-align: center">{{message}}</div>
    </form>
  </div>
</div>
{% endblock %}
